/* Responsive para el header */
@media (max-width: 768px) {

    .back-home-btn  {
        width: 40px;
        height: 40px;
    }
    .back-home-btn i {
        font-size: 0.8rem;
    }

    .back-home-btn .btn-text {
        display: none;
    }

    .filter-btn {
        padding: 6px 12px;
        font-size: 0.6rem;
    }
    
    .filter-btn i {
        font-size: 0.8rem;
    }
    
    .control-btn {
        width: 40px;
        height: 40px;
        font-size: 1rem;
    }
    
    .gallery-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: var(--spacing-lg);
        width: 95%;
    }
    
    .gallery-title {
        font-size: 1.2rem;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .gallery-title {
        font-size: 1rem;
        gap: 5px;
    }

    .heart-icon {
        font-size: 0.9rem;
    }

    .borrar {
        position: absolute;
        opacity: 0;
        z-index: -10;
    }
    .filters-container {
        flex-direction: column;
        gap: 10px;
    }
    
    .filter-buttons {
        width: 100%;
        justify-content: center;
    }
    
    .filter-btn {
        padding: 4px 8px;
        font-size: 0.5rem;
    }
    
    .gallery-image img {
        height: 420px;
    }
    
    .gallery-grid {
        grid-template-columns: 1fr;
        gap: var(--spacing-md);
        width: 100%;
    }


}


